

body {
    background-color: aliceblue;

    .user-post-aria {
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        

        
        button {
            padding: 12px 30px;
            background-color: aliceblue ;
            border: none;
            width: 85%;
            border-radius: 25px;
            text-align: left;
            &:hover {
                background-color: rgb(217, 225, 232) ;
            }

        }
    }
    .addmedia {
        ul {
            display: block;
            width: 100%;
            
            padding-left: 0px;
            li{
                
                display: inline-block;
                width: 33.3%;
                text-decoration: none;
                box-sizing: border-box;
                text-align: center;
                border-radius: 8px;
                padding: 8px;
                &:hover {
                    background: rgb(192, 204, 214);
                }
                

                button {
                    width: 100%;
                    background-color: transparent;
                    border: none;
                    display: flex;
                    align-items: center;
                    font-size: 16px;
                    color: rgb(139, 156, 171);

                     i {
                        font-size: 20px;
                        margin-right: 3px;
                    }
                    .bx-video-plus {
                        color: red;
                    }
                    .bxs-image-add {
                        color: rgb(10, 194, 10);
                    }
                    .bx-smile {
                        color: rgb(227, 227, 28);
                    }


                }
            }
        }

    }

    .time_line {

        .time_line_post {
            

            .user_info {
                .user_pic {
                    margin-right: 5px;
                }
            }
            .drop_manu {
                height: 45px;
                width: 45px;
                border-radius: 50%;
                text-align: center;
                
                &:hover {
                    background-color: rgb(241, 233, 233);
                }
                button {
                    position: relative;
                    background-color: transparent;
                    border: none;
                    font-size: 22px;
                    
                }
            }
            
        } 
        .user_post_content {
            
            img {
                
            }
        }
    }
    
}